<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitstack | <%= name %> </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-bar">
        <div class="search-bar">
            <form action="" method="post">
                <input type="text" placeholder="Search">
            </form>
        </div>
    </div>
    <div class="profile-bar">

    </div>

    <div class="content">
        <div class="left">
            <div class="profile">
                <div class="pfp-holder">
                    <div class="pfp-div">
                        <img src="https://yt3.ggpht.com/ytc/AKedOLSUw5DgofqaEg0Ff0_xcJu9KDV0v8kg2n-nLK-HGA=s900-c-k-c0x00ffffff-no-rj" class="pfp">
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="profile-info">
                    <div class="nickname">
                        <h1>TSL</h1>
                    </div>
                    <div class="name">The Scripting Legend</div>
                </div>
            </div>
        </div>
        <div class="right">
            <header class="section-header header-1">Popular Repositories</header>
            <div class="section section-1">
                <div class="repo">
                    <a class="repo-name" href="#">Repo Name</a>
                    <p class="repo-desc">Repo Description</p>
                    <div class="repo-lang">
                        HTML
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>